.container-juego {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.celdas-container {
    min-height: 300px;
    min-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.celdas-container .celda {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    cursor: pointer;
}